@model IEnumerable<GymManagement.Models.Course>

@{
    ViewBag.Title = "Index";
}
<h2>Courses</h2>

@using (Html.BeginForm("UpdateCourses"))
{
    <div class="col-md-10">
        @Html.DropDownList("CourseDificulty", new SelectList(Enum.GetValues(typeof(GymManagement.Models.CourseDificulty)), Model.FirstOrDefault(x => 1 == 1).Dificulty),
                 new { onchange = "this.form.submit();" });

    </div>
}

<div style="height: 30px"></div>
<table class="table">
    <tr>
        <th>
            Course type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>


    <div>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </div>
</table>
