@model IEnumerable<GymManagement.Models.UserCourse>

@{
    ViewBag.Title = "Index";
}

<h2>Manage trainers and their courses</h2>

@Html.ActionLink("Assing a course to a trainer", "Create")
<br />
<table class="table">
    <tr>
        <th>
            Course name
        </th>
        <th>
            Trainer name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
