@model GymManagement.Models.SubscriptionPackagesViewModel

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Take a look at our offer</h2>
<br /><br />

@foreach(var package in Model.Packages)
{
    <div class="text-center"><strong>@package.Name</strong></div>
    <list>
        @foreach (var courseType in package.CourseTypes)
        {
            <li class="text-center">
                @courseType.Name with Courses:
                @foreach (var course in courseType.Courses)
                {
                    <span>@course.Name</span>
                }
            </li>
        }
    </list>
    <br />
}

<h2 class="text-center">Buy your subscription</h2>
<br/>

@using (Html.BeginForm())
{
    <fieldset>
        <div class="text-center">
            @Html.LabelFor(model => model.Subscription.Package)
            <select id="Package" name="Package">
                @foreach (var package in Model.Packages)
                {
                    <option>@package.Name</option>
                }
            </select>
        </div>
        <br/>
        <div class="text-center">
            @Html.LabelFor(model => model.Subscription.StartDate)

            <input type="date" id="Date" name="Date" />
            <br /> <br />
            <input class="text-center" type="submit" value="Buy subscription" />
        </div>
        <br />
    </fieldset>
}

<div class="text-center">
    @Html.ActionLink("Back to your subscription", "Index")
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
