@model GymManagement.Models.SubscriptionPackagesViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Subscription</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subscription.Package)
            <select id="Package" name="Package">
                @foreach (var package in Model.Packages)
                {
                    <option>@package.Name</option>
                }
            </select>
            @*@Html.DropDownListFor(option => option.Package, new SelectList(Model.Packages, ), "Select package: "));*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subscription.StartDate)

            <input type="date" id="Date" name="Date" />
        </div>

        <input type="submit" value="Buy subscription"/>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to your subscription", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*@model IEnumerable<GymManagement.Models.Package>

    @{
        ViewBag.Title = "Buy Subscription";
    }

    <h2>Buy a subscription:</h2>

    <table>
        <tr>
            <th>Package Name</th>
            <th>Package Price</th>
            <th>Included Course Types</th>
        </tr>
        @foreach(var package in Model)
        {
            <tr>
                <td>@package.Name</td>
                <td>@package.Price</td>
                <td>
                    @foreach(var courseType in package.CourseTypes)
                    {
                        <p>@courseType.Name</p>
                    }
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm("BuySubscription", "SubscriptionController", FormMethod.Post))
    {
        <select id="package">
            @foreach (var package in Model)
            {
                <option value=@package.Id>@package.Name</option>
            }
        </select>
        <input type="date" id="date" name="Start Date" />
        <input type="submit" value="Get your subscription !"/>
    }*@

