@model IEnumerable<GymManagement.Models.ScheduleTable>

@{
    ViewBag.Title = "Index";
}

<h2>Courses I've joined</h2>

@using (Html.BeginForm("UpdateScheduleTable"))
{
    <div class="col-md-10">
        @Html.Label("Filter courses by their difficulty  ")
        @Html.DropDownList("CourseDificulty", new SelectList(Enum.GetValues(typeof(GymManagement.Models.CourseDifficulty)), ViewData["selectedDifficulty"]),
                 new { onchange = "this.form.submit();" })

    </div>
}
<br />
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Monday
        </th>
        <th>
            Tuesday
        </th>
        <th>
            Wednesday
        </th>
        <th>
            Thursday
        </th>
        <th>
            Friday
        </th>
        <th>
            Saturday
        </th>
        <th>
            Sunday
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            @foreach (var course in item.userScheduleModels)
            {
                <td>
                    @if (course != null)
                    {
                        var diez = "#";
                        var modalId = "confirmationModal" + @course.userScheduleId;
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=@diez@modalId title="Click to unjoin!">
                            @course.courseName
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id=@modalId tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Unjoin @course.courseName?</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div id="alert-area"></div>
                                        <div>Are you sure you want to unjoin this course?</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary unjoin-course" name="@course.userScheduleId">Unjoin</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </td>
            }
        </tr>
    }




</table>

<script>
    function newAlert(type, message) {
        $("#alert-area").append($("<div class='alert alert-" + type + " fade in' data-alert><p> " + message + " </p></div>"));
        $(".alert").delay(2000).fadeOut("slow", function () { $(this).remove(); });
    }

    $(".unjoin-course").click(function () {

        $.ajax({
            type: "POST",
            url: "@Html.Raw(Url.Action("Delete","UserScheduler"))" ,
            data: {
                userScheduleId: $(this).attr("name")
            }
        }).done(function () {
            newAlert('success', 'You unjoined successfully!');
            setTimeout(function () {
                window.location = "@Html.Raw(Url.Action("Index","UserScheduler"))";
            }, 2000);
        })
    })
</script>