@model IEnumerable<GymManagement.Models.ScheduleTable>

@{
    ViewBag.Title = "Index";
}

<h2>All the courses</h2>
<a id="previous-week-button" type="button" class="btn btn-secondary" href="#">Previous Week</a>
@ViewData["currentWeek"]
<a id="next-week-button" type="button" class="btn btn-secondary" href="#">Next week</a>
@using (Html.BeginForm("UpdateScheduleTable"))
{
    <div class="col-md-10">
        @Html.Label("Filter courses by their difficulty  ")
        @Html.DropDownList("CourseDificulty", new SelectList(Enum.GetValues(typeof(GymManagement.Models.CourseDifficulty)), ViewData["selectedDifficulty"]),
                      new { onchange = "this.form.submit();" })

    </div>
}
<br />

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Monday
        </th>
        <th>
            Tuesday
        </th>
        <th>
            Wednesday
        </th>
        <th>
            Thursday
        </th>
        <th>
            Friday
        </th>
        <th>
            Saturday
        </th>
        <th>
            Sunday
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            @foreach (var course in item.scheduleCourseModels)
            {
                <td>

                    @if (course != null)
                    {
                        if (course.IsAvailable)
                        {
                            <input type="submit" class="btn btn-primary" name="@course.schedulerId" value="@course.courseName" title="Click to join!" />
                        }
                        else
                        {
                            <input disabled type="submit" class="btn btn-primary" style="background-color:darkgrey" value="@course.courseName" title="No availability!" />
                        }
                    }

                </td>
            }
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        var path = window.location.pathname.split("/");
        var week = path[path.length - 1];
        if (week == "1") {
            $("#previous-week-button").attr("disabled", "");
        }
        if (week == 52) {
            $("#next-week-button").attr("disabled", "");
        }
        $("#previous-week-button").attr("href", ("/Schedule/Week/" + (parseInt(week) - 1)))
        $("#next-week-button").attr("href", ("/Schedule/Week/" + (parseInt(week) + 1)))
    });

    $(".btn-primary").click(function () {

        $.ajax({
            type: "POST",
            url: "@Html.Raw(Url.Action("Create","Schedule"))",
            data: {
                schedulerId: $(this).attr("name")
            }
        }).done(function () {
            window.location = "@Html.Raw(Url.Action("Index","Schedule"))";
            alert("Inscrierea a avut loc cu success");
        });
    });
</script>
